body {
    margin: 0;
    padding: 0px;
    font-family: Lato;
    background-color: #6b1010;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    justify-self: center;
    color: white;
}

main {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-sizing: border-box;

    color: white;

    padding-bottom: 300px;
}

.text {
    align-self: start;
    padding: 100px 100px;
}

main img{
    height: 600px;
    padding: 20px;
}

.textbox {
    height: 100px;
    width: 300px;

    color: black;

    background-color: white;
    padding: 5px;
    margin: 0 auto;
    box-shadow: 0 4px 20px rgba(0,0,0,255);
}

.offset {
    transform: translateY(200px);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    margin: auto 0;
}

footer img {
    justify-self: center;
    height: 60px;
    margin: 0 auto;
}
