body {
    margin: 0;
    padding: 0;
    font-family: Lato;
    background-color: #b2b2b2;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    justify-self: center;
    color: black;
}

main {
    justify-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    margin: auto 0;
}

    footer img {
        justify-self: center;
        height: 60px;
        margin: 0 auto;
    }
