* {
  margin: 10px;
  padding: 0;
}

header {
	color: white;
}

body {
	font-family: Lato;
	background-color: black;
}

main {
	max-width: 800px;
	margin: 40px auto;
}

section {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 10px;	
}

h2 {
	margin-bottom: 10px;
}

footer {
	background-color: blue;
	color: white;
	text-align: center;
}

.hidden {
	display: none;
}