body {
	margin: 0;
	padding: 0;
	font-family: Lato;
	background-color: black;

	/*Background image things*/
	background-image: url("assets/homepage.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

footer {
	font-size: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;

	padding: 0px 20px;
	margin: auto 0;
	justify-content: space-between;

	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	box-sizing: border-box;
}

footer p {
	justify-self: start;
}

footer img {
	justify-self: center;

	height: 60px;
	margin: 0 auto;
}

.socials {
	justify-self: end;

	list-style: none; /*eliminates things like bullet points*/

	display: flex;
	margin-left: auto;
	gap: 10px;
}